.form{
    text-align:center;
}
body{
    background-image: url("temp.jpeg");
    background-repeat: no-repeat;
    background-size:cover;

}
.box{
    margin-top:200px;
    margin-left: 15%;
    width:600px;
    /* margin: 30px; */
  background-color:aqua;
  border: 1px solid black;
  opacity: 0.9;
}
#celcius{
    color:red;
    
}